@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&family=Sniglet&display=swap');

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Roboto, sans-serif;
  background: linear-gradient(45deg, #0B1641 0%, #C70160 100%);

}

#app {
  max-width: 100%;
  color: #FFF;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

} */
